---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Page introuvable | Malins d'eau douce">
  <section class="container bg-gray">
    <div class="fullwidth">
      <h1>Ah, mince... on n'a pas réussi à trouver cette page</h1>
      <p class="intro">On peut vous aider à trouver autre chose ?</p>
      <p>
        Parcourez{" "}<a href="/">notre site web</a>, lisez{" "}<a href="/blog"
          >notre blog</a
        >, regardez{" "}
        <a href="/creation-site-web">les services qu'on propose</a>, ou juste{
          " "
        }<a href="/contact">contactez-nous</a> simplement. On aimerait avoir de vos
        nouvelles !
      </p>
    </div>
  </section>
</Layout>
