---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Merci de nous avoir contacté !">
  <section class="container bg-gray">
    <div class="fullwidth">
      <h1>Merci de nous avoir contacté !</h1>
      <p class="intro">
        Yanis vous répondra rapidement. On a hâte de vous lire !
      </p>
      <div>
        <h2 class="h4">Suivez-nous !</h2>
        <p>
          Vous pouvez aussi rester en contact avec nous sur <a
            href="https://www.facebook.com/profile.php?id=61578725257899"
            target="_blank"
            rel="noopener noreferrer">Facebook</a
          >,
          <a
            href="https://www.linkedin.com/company/malinsdeaudouce"
            target="_blank"
            rel="noopener noreferrer">LinkedIn</a
          >{" "}ou{" "}
          <a
            href="https://x.com/malinsdeaudouce"
            target="_blank"
            rel="noopener noreferrer">X (autrefois Twitter)</a
          >.
        </p>
      </div>
    </div>
  </section>
</Layout>

<style>
  a[target="_blank"] {
    color: var(--accent);
    font-weight: 700;
    transition: color 0.3s;

    &:hover {
      color: var(--black);
    }
  }

  .h4 {
    margin: 1rem 0 4px 0;
  }
</style>
