---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Politique de confidentialité | Malins d'eau douce">
  <section class="container bg-gray">
    <div class="privacy-policy">
      <h1>Politique de confidentialité</h1>
      <div>
        <p>Dernière mise à jour : 28 novembre 2024</p>
        <hr />
        <div>
          <p>
            Malins d'eau douce exploite le site web :
            https://malinsdeaudouce.fr/.
          </p>
          <p>
            Cette page vous informe de nos politiques concernant la collecte,
            l'utilisation et la divulgation des données personnelles lorsque
            vous utilisez notre site web et les choix dont vous disposez
            associés à ces données.
          </p>
          <p>
            On utilise vos données pour fournir et améliorer le site web. En
            utilisant le site web, vous acceptez la collecte et l'utilisation
            des informations conformément à cette politique.
          </p>
        </div>
        <hr />
        <div>
          <p>Mentions légales</p>
          <ul>
            <li>Nom et prénom : Nael BOULAYOUNE</li>
            <li>Adresse du domicile : 9 rue de l'agreant 88140 Vaudoncourt</li>
            <li>
              Numéro de téléphone et adresse mail : 06 42 18 44 10,
              nael@webro.fr
            </li>
            <li>
              Hébergeur
              <ul>
                <li>Nom de l'hébergeur : O2SWITCH</li>
                <li>Raison sociale : O2SWITCH</li>
                <li>Adresse : CHE DES PARDIAUX 63000 CLERMONT FERRAND</li>
                <li>Numéro SIRET : 51090980700032</li>
                <li>Numéro de téléphone : 08 92 97 59 71</li>
              </ul>
            </li>
          </ul>
        </div>
        <hr />
        <div>
          <h2>Définitions</h2>
          <div>
            <h3>Données personnelles</h3>
            <p>
              Les données personnelles désignent les données concernant une
              personne qui peut être identifiée à partir de ces données (ou à
              partir de ces données et d'autres informations en notre possession
              ou susceptibles d'entrer en notre possession).
            </p>
          </div>
          <div>
            <h3>Données d'utilisation</h3>
            <p>
              Les données d'utilisation sont des données collectées
              automatiquement et générées soit par l'utilisation du Service,
              soit par l'infrastructure du Service elle-même (c'est-à-dire la
              durée d'une visite de page).
            </p>
          </div>
          <div>
            <h3>Cookies</h3>
            <p>
              Les cookies sont de petits fichiers de données qui sont placés sur
              votre ordinateur ou appareil mobile lorsque vous visitez un site
              Web. Les cookies sont largement utilisés par les fournisseurs de
              services en ligne afin (par exemple) de faire fonctionner leurs
              sites web ou leurs services, ou de les rendre plus efficaces,
              ainsi que de fournir des informations de reporting.
            </p>
          </div>
        </div>
        <hr />
        <div>
          <h2>Collecte et utilisation des informations</h2>
          <p>
            On collecte différents types d'informations à diverses fins pour
            vous fournir et améliorer notre site web.
          </p>
          <div>
            <h3>Données personnelles</h3>
            <p>
              Lors de l'utilisation de notre site web, on peut vous demander de
              nous fournir certaines informations personnelles qui peuvent être
              utilisées pour vous contacter ou vous identifier. Les informations
              personnelles identifiables peuvent inclure :
            </p>
            <ul>
              <li>Nom et prénom</li>
              <li>Adresse e-mail</li>
              <li>Numéro de téléphone</li>
              <li>Nom de l'entreprise</li>
              <li>URL du site web</li>
            </ul>
            <p>
              On peut utiliser vos données personnelles pour répondre à vos
              demandes ou vous contacter avec des newsletters. Vous pouvez
              choisir de ne plus recevoir aucun e-mail de notre part en suivant
              le lien de désabonnement ou en nous contactant.
            </p>
          </div>
          <div>
            <h3>Données de suivi et cookies</h3>
            <p>
              On utilise des cookies et des techniques de suivi similaires pour
              suivre le trafic et analyser les performances de notre site web.
            </p>
            <p>
              Les cookies sont des fichiers contenant une petite quantité de
              données pouvant inclure un identifiant unique anonyme. Les cookies
              sont envoyés à votre navigateur à partir d'un site web et stockés
              sur votre appareil. Les techniques de suivi également utilisées
              sont les balises, les tags et les scripts pour collecter et suivre
              des informations, et pour améliorer et analyser notre site web.
            </p>
          </div>
        </div>
        <hr />
        <div>
          <h2>Conservation des données</h2>
          <p>
            On conserve vos données personnelles uniquement aussi longtemps que
            nécessaire aux fins énoncées dans la présente politique de
            confidentialité.
          </p>
          <p>
            On conserve les données d'utilisation à des fins d'analyse interne.
            Les données d'utilisation sont généralement conservées pendant une
            période plus courte, sauf lorsque ces données sont utilisées pour
            renforcer la sécurité ou pour améliorer la fonctionnalité de notre
            site web.
          </p>
        </div>
        <hr />
        <div>
          <h2>Fournisseurs de services</h2>
          <p>
            On peut utiliser des applications tierces pour faciliter notre site
            web ou pour nous aider à analyser la manière dont notre site web est
            utilisé.
          </p>
          <p>
            Ces tiers ont accès à vos données personnelles uniquement pour
            effectuer ces tâches en notre nom et sont tenus de ne pas les
            divulguer ni de les utiliser à d'autres fins.
          </p>
          <div>
            <h3>Youtube</h3>
            <p>
              Sur notre blog et notre site web, on intègre des vidéos Youtube
              qu'on a créées pour notre contenu. Lire <a
                href="https://www.youtube.com/howyoutubeworks/policies/community-guidelines/#community-guidelines"
                target="_blank"
                rel="noopener noreferrer"
                >la politique de confidentialité de YouTube &nearrow;</a
              >{" "}
              pour plus d'informations.
            </p>
          </div>
        </div>
        <hr />
        <div>
          <h2>Liens vers d'autres sites web</h2>
          <p>
            Notre site peut contenir des liens vers d'autres sites qui ne sont
            pas exploités par nous. Si vous cliquez sur un lien tiers, vous
            serez redirigé vers le site de ce tiers. On vous conseille de
            consulter la politique de confidentialité de chaque site que vous
            visitez.
          </p>
          <p>
            On n'a aucun contrôle et on n'assume aucune responsabilité quant au
            contenu, aux politiques de confidentialité ou aux pratiques de tout
            site web ou service tiers.
          </p>
        </div>
        <hr />
        <div>
          <h2>Modifications de cette politique de confidentialité</h2>
          <p>
            On peut mettre à jour notre politique de confidentialité de temps à
            autre. On vous conseille de consulter périodiquement cette politique
            de confidentialité pour prendre connaissance de tout changement.
          </p>
          <p>
            Les modifications apportées à cette politique de confidentialité
            entrent en vigueur dès leur publication sur cette page.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .privacy-policy {
    display: grid;
    gap: 1.25rem;
    padding: clamp(2.5rem, 1.6667rem + 4.1667vw, 5rem) 0;
    max-width: 65ch;
    margin-inline: auto;

    h1 {
      text-align: center;
    }

    hr {
      width: 100%;
      border: 1px rgba(0, 0, 0, 0.1) solid;
    }

    > div {
      display: grid;
      gap: 1.25rem;

      div {
        display: grid;
        gap: 0.625rem;
      }
    }
  }
</style>
