---
import NavLink from "./NavLink.astro";

const LINKS = [
  { title: "Accueil", href: "/" },
  {
    title: "Création site web",
    href: "/creation-site-web",
  },
  { title: "Refonte site web", href: "/refonte-site-web" },
  { title: "Blog", href: "/blog" },
  { title: "Contact", href: "/contact" },
];
---

<nav>
  <ul role="list">
    {
      LINKS.map((link) => (
        <li>
          <NavLink href={link.href}>{link.title}</NavLink>
        </li>
      ))
    }
  </ul>
</nav>
