---

---

<div class="reading-progress" id="reading-progress"></div>

<style>
  .reading-progress {
    position: sticky;
    left: 0;
    bottom: 0;
    height: 5px;
    background-color: var(--accent);
    width: 0%;
    z-index: 1;
    max-width: 100%;
  }
</style>

<script>
  const readingProgress = document.getElementById(
    "reading-progress"
  ) as HTMLDivElement;
  const post = document.querySelector(".post") as HTMLDivElement;

  const updateProgress = () => {
    const scrollY = window.scrollY;
    const docHeight = post.scrollHeight - window.innerHeight;
    const progress = (scrollY / docHeight) * 100;
    readingProgress.style.width = progress + "%";
  };

  window.addEventListener("scroll", updateProgress);
</script>
